<div id="TaskFirstSolution" align="center">
    <form method="post">
        <p>
            <label>Введите предложение:</label>
            <input type="text" name="spacebar"/>
        </p>
        <p>
            <input type="submit" value="Высчитать количество пробелов"/>
        </p>
        <p>
            <label>Ответ:</label>
            <label>@ViewBag.Otvet</label>
        </p>
    </form>
</div>