<div id="TaskSecondSolution" align="center">
    <form method="post">
        <p>
            <label>Введите n:</label>
            <input type="text" name="n"/>
        </p>

        <p>
            <input type="submit" value="Вычислить"/>
        </p>
        <p>
            <label>Ответ:</label>
            <label>@ViewBag.Otvet</label>
        </p>
    </form>
</div>